:root {
    --background-color: #CEC98D;
    --textarea-background-color: #EEE8AA;
    --font-size: 16px;
    --impact-gray: #444444;
    --impact-light-gray: #606263;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    overflow: hidden;
}

.body {
    overflow-y: hidden;
}

.topbar {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-color);
}

.tabs {
    display: flex;
    align-items: center;
    /* gap: 6px; */
    padding: 0px 0px;
    background-color: var(--background-color);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.tab-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

.tab-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--impact-white);
    border-radius: 10px;
}

.tab-list::-webkit-scrollbar {
    width: 4px;
    background-color: var(--impact-white);
    border-radius: 10px;
}

.tab-list::-webkit-scrollbar-thumb {
    background-color: var(--impact-light-gray);
    border-radius: 10px;
}

.tab {
    width: 200px;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    border-radius: 0px;
    background: #cec98d;
    color: #222;
    border: 1px solid rgba(0, 0, 0, 0.06);
    cursor: pointer;
    white-space: nowrap;
    justify-content: space-between;
}

.tab .title {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab .close {
    font-weight: 900;
    opacity: 1;
    font-size: large;
}

.tab.active {
    background: #eee8aa;
    border-color: rgba(0, 0, 0, 0.15);
    border: 0px solid rgba(0, 0, 0, 0.06);
    justify-content: space-between;
}

.add-tab {
    background: #cec98d;
    border: 0px solid rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    width: 150px;
    cursor: pointer;
    padding: 10px 24px;
}

.add-tab:hover {
    background: #eee8aa;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.dark-mode-topbar.tabs,
.tabs.dark-mode-topbar {
    background-color: #1e1e1e !important;
}

.tabs .tab,
.tabs .add-tab {
    color: #444;
}

.dark-mode-topbar .tab,
.dark-mode-topbar .add-tab {
    color: #ece5e5cc;
    background: #222;
    border-color: #333;
}

.dark-mode-topbar .tab.active {
    background: #121212;
    border-color: #444;
}

@media only screen and (max-width: 991px) {

    /* This rule applies only to screens smaller than 992px */
    .toolbar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }
}

.editor {
    margin-right: 0;
    transition: all 0.3s ease-out;
    background-color: var(--textarea-background-color);
}

.nav-button {
    float: right !important;
    background: none;
    border: none;
    cursor: pointer;
    height: 24px;
    padding: 3px 5px;
    width: 28px;
}

.hidden {
    display: none !important;
}

.dark-mode-editor {
    background-color: #121212 !important;
    color: #ece5e5cc;
}

.dark-mode-topbar {
    background-color: #1e1e1e !important;
}

.dark-mode-toolbar {
    filter: invert(1) !important;
}

.dark-mode-navbar {
    filter: invert(1) !important;
}

.dark-mode-svg {
    fill: white;
}

.ql-toolbar.ql-snow {
    border: 0px !important;
}

.ql-container.ql-snow {
    border: 0px !important;
}

.ql-editor {
    font-size: var(--font-size);
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
    color: #444 !important;
    height: 100% !important;
}

.ql-snow .ql-tooltip {
    background-color: var(--background-color) !important;
    border: 0px solid var(--background-color) !important;
    box-shadow: 0px 0px 5px var(--background-color) !important;
}

.ql-snow .ql-tooltip input[type=text] {
    background-color: var(--textarea-background-color) !important;
    border: none !important;
}

.dark-mode-editor .ql-tooltip {
    background-color: #1e1e1e !important;
    box-shadow: 0px 0px 5px #1e1e1e !important;
    color: #ece5e599 !important;
}

.dark-mode-editor .ql-tooltip input[type=text] {
    background-color: #121212 !important;
    color: #ece5e599;
    border: none !important;
}

.dark-mode-editor .ql-editor.ql-blank::before {
    color: #ece5e599 !important;
}

.svg {
    color: #444 !important;
    height: 100% !important;
}

input[type="file"] {
    display: none;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--impact-white);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: var(--impact-white);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--impact-light-gray);
    border-radius: 10px;
}